
<h1 id="tableLabel">{{team.name}} Cards</h1>

<p *ngIf="!team"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="team">
  <thead>
    <tr>
      <th>Year</th>
      <th>Company</th>
      <th>Card #</th>
      <th>Person</th>
      <th>RC</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let card of team.cards">
      <td>{{ card.year }}</td>
      <td>{{ card.companyName }}</td>
      <td>{{ card.cardNumber }}</td>
      <td><a [routerLink]="['/person', card.personId]">{{ card.personName }}</a></td>
      <td>{{ card.rc }}</td>
    </tr>
  </tbody>
</table>
