
<h1 id="tableLabel">{{sport.name}} Cards</h1>

<p *ngIf="!sport"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="sport">
  <thead>
    <tr>
      <th>Year</th>
      <th>Company</th>
      <th>Card #</th>
      <th>Person</th>
      <th>RC</th>
      <th>Team</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let card of sport.cards">
      <td>{{ card.year }}</td>
      <td>{{ card.companyName }}</td>
      <td>{{ card.cardNumber }}</td>
      <td>{{ card.personName }}</td>
      <td>{{ card.rc }}</td>
      <td>{{ card.teamName }}</td>
    </tr>
  </tbody>
</table>
