
<h1 id="tableLabel">{{sport.name}} Cards</h1>

<p *ngIf="!sport"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="sport">
  <thead>
    <tr>
      <th>Year</th>
      <th>Company</th>
      <th>Card #</th>
      <th>Person</th>
      <th>RC</th>
      <th>Team</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let card of sport.cards">
      <td>{{ card.year }}</td>
      <td>{{ card.companyName }}</td>
      <td>{{ card.cardNumber }}</td>
      <td><a  [routerLink]="['/person', card.personId]">{{ card.personName }}</a></td>
      <td>{{ card.rc }}</td>
      <td><a [routerLink]="['/team', card.teamId]">{{ card.teamName }}</a></td>
    </tr>
  </tbody>
</table>
